# Images #
*.bmp
YOLOimg/



# Bagfiles #
*.bag

# GPS files #
*.csv
*.gpx
GPS/



# Compiled source #
###################
build/*
**/build
devel/*
logs/*
*.o
.catkin_tools/profiles/default/build.yaml
.catkin_tools/profiles/default/packages/


# Ignore img files #
