<?xml version="1.0" encoding="utf-8"?>
<!-- Launch the stereo_system project " -->
<launch>

  <!-- either, litenBat, middelsBat or langtUnnaKai -->
  <arg name="path" value="/home/stereo/stereo_vision/Bagfiles/Bratt0505/" />
  <arg name="file" default="middelsBat" />


    <!-- bagfile Set fake time for the clustering -->
  <node pkg="rosbag" type="play" name="player" args="--clock $(arg path)$(arg file).bag"/>
  <param name="/use_sim_time" value="true" />

  <node ns="camera_array" name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen"/>


  <!-- Fix error in point cloud in stereo image proc-->
  <include file="$(find clustering_ptcloud)/launch/pcl_obstacle_detector.launch" />

</launch>
